{% extends "_layout.html" %}

{% block title %}- Editar Funcionário{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"
   integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
   <form action="{{ url_for('funcionario.edit_post',id=entity.id)}}" method="post">
      <div class="card mx-2">
         <div class="card-header text-bg-orange d-flex jus flex-wrap justify-content-between align-items-center">
            <h5 class="card-title m-0">Editar Funcionário</h5>
         </div>
         <div class="card-body">
            <div class="form-group">
               <label class="control-label">Nome</label>
               <input class="form-control" name="nome" value="{{entity.nome}}" type="text" required />
            </div>
            <div class="form-group">
               <label class="control-label">Email</label>
               <input class="form-control" name="email" value="{{entity.email}}" type="email" />
            </div>
            <div class="form-group">
               <label class="control-label">CPF</label>
               <input class="form-control" disabled name="cpf" id="cpf" value="{{entity.cpf}}" type="text" />
            </div>
            <div class="form-group">
               <label class="control-label">Prontuário</label>
               <input class="form-control" disabled name="prontuario" value="{{entity.prontuario}}" type="text" required />
            </div>
         </div>
         <div class="card-footer d-flex jus flex-wrap justify-content-between align-items-center">
            <a class="btn btn-light" href="{{url_for('funcionario.home')}}">Voltar</a>
            <button class="btn btn-primary" type="submit">Salvar</button>
         </div>
      </div>
   </form>
</div>

{% endblock %}

{% block scripts %}
<script>
   $(document).ready(function () {
      $("#cpf").mask("000.000.000-00");
   })
</script>
{% endblock %}